.footer {
  width: 100%;
  font-size: 30px;
  height: 70px;
  background: #e9e8e8;
}

@include min-size(md) {
  .footer {
  }
}

@include min-size(lg) {
  .footer {
  }
}

@include min-size(xl) {
  .footer {
  }
}

@include min-size(xxl) {
  .footer {
  }
}
