.posts {

  ul {
    display: flex;
    text-decoration: none;
  }

  li {
    display: flex;
    list-style: none;
  }

  &__pagination {
    display: flex;
    margin: auto;
    justify-content: center;
  }
 }
